.card-item{
    margin:2em auto 2em auto ;
    border: 1px solid rgb(182, 182, 182);
    border-radius:5px;
    box-shadow:7px 7px rgba(190, 190, 190, 0.719);
    text-align: center;
    justify-content: center;
    width: 80%;
}

.card-box{
    border: 1px solid black;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.274) 7px 7px;
    height:25vw;
    width: 30vw;
}

.card-info_section{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:0.5em;
    align-items: center;
    margin:auto;
}

.card-mini-and-donate{
    display:grid;
    grid-template-columns: auto 25vw;
    grid-gap: 1em

}

.card-info_section > p{
    padding: 5px;
    text-align: center;
    
}

.card-info_box{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:5px;
    text-align: center;
    border-radius:15px;
    height:90%;
    margin:auto;
}


.MuiPaper-root{
    margin:auto;
}

/* DETAIL IMAGE */
#card-info_image{
    border-radius:10px;
    height:4vw;
    width: 35vw;
    margin:0 auto;
}


@media screen and (max-width: 599px) {
	.card-info_section{
    display:flex;
    flex-direction: column;
    }

    .card-mini-and-donate{
        display:flex;
        flex-direction: column;
        
    }
}